@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
background-image: linear-gradient(to bottom,#9a9da0, #ECEFF4 );
background-attachment: fixed;
height: 100%;
}

.title {
  @apply text-2xl font-bold text-center text-gray-800 mb-4 sm:text-3xl;
}